<launch>
<!-- SteeringWheel -->
    
   
    
    
     <node pkg="joytwo"
        type="joy_node_two"
        name="joy_node_two"
        respawn="true">
   
    <param name="deadzone" value="0.001" />
    <param name="autorepeat rate" value="50.0"/>
    <param name="coalesce_interval" value="0.001"/>  
    </node>
</launch>
